<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New web style</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <script>
    const coffe = {type: "Arabica", intensity_coffe: 5, }
  </script>

  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      
      <img class="logoimg"  src="assets/coffeLogo.png">
      
      <li><a href='http://'>Menu</a>
        <ul class='sub-menus'>
          <li><a href='http://'></a></li>
          
        </ul>
      </li>
      <li><a href='http://'></a></li>
      <li><a >Kawa</a>
   
        <ul class='sub-menus'>
        <li><a href='http://'>Arabika</a></li>
        <li><a href='http://'>Robusta</a></li>
        <li><a href='http://'>Liberika</a></li>
        <li><a href='http://'>Excelsa</a></li>
        <li><a href='http://'>Maragogype</a></li>
        <li><a href='http://'>Geisha/Gesha</a></li>
        <li><a href='http://'>Bourbon</a></li>
        
        
      </ul>
    </li>
      <li><a href='http://'></a></li>
      <li><a href='http://'>Ekspresy</a>
        <ul class='sub-menus'>
        <li><a href='http://'>Przelewowy</a></li>
        <li><a href='http://'>Ciśnieniowy</a></li>
        <li><a href='http://'>Kapsułkowy</a></li>
        <li><a href='http://'>Ekspres przelewowy na kapsułki </a></li>
        <li><a href='http://'>Ekspres kolbowy</a></li>
        <li><a href='http://'>Ekspres na kawę sypką (Pour Over Coffee Maker)</a></li>
        <li><a href='http://'>Ekspres do kawy z młynkiem</a></li>
        
      </ul>
    </li>
    
      
      <li><a href='http://'></a></li>
      <li><a href='http://'>Akcesoria</a>
        <ul class='sub-menus'>
        <li><a href='http://'>Młynek do kawy</a></li>
        <li><a href='http://'>Dzióbek do nalewania</a></li>
        <li><a href='http://'>Waga kawowa</a></li>
        <li><a href='http://'>Filtr do kawy</a></li>
        <li><a href='http://'>Aeropress</a></li>
        <li><a href='http://'>French Press</a></li>
        <li><a href='http://'>Mlecznik do spieniania mleka</a></li>
        <li><a href='http://'>Termosy do kawy</a></li>
        <li><a href='http://'>Kubki i filiżanki do kawy</a></li>
        <li><a href='http://'>Kawirki</a></li>


        </ul>
    </li>
    
      
      <li><a href='http://'></a></li>
      <li><a href='http://'>Kursy</a>
        <ul class='sub-menus'>
        
      </ul>
    </li>
      <li><a href='http://'></a></li>
      <li><a href='http://'>Zamów</a></li>
      <li><a href='http://'></a></li>
      
    </ul>
  </nav>
  <div class="flex-container">
    <div class="flex-items"></div>
 </div>
 
 <div class="flex-add">
  <img class="wyp"  src="assets/wyprzedaż.png">
  <img class="fifty"  src="assets/50p.png">
</div>



<!--
   <div class = "table">
  <table id="customers">
  <tr>
    <td></td>
    <th></th>
   </tr>
   </table>
</div>

<div class = "table1">
  <table id="customers">
  <tr>
    <td></td>
    <th></th>
   </tr>
   </table>
</div>

<div class = "table2">
  <table id="customers">
  <tr>
    <td></td>
    <th></th>
   </tr>
   </table>
</div>
<img class="cup"  src="assets/cup.png">
  <div>
  <h1>Powitanie</h1>
  <p>Witaj na naszej stronie, gdzie pasja spotyka smak! Jeśli jesteś miłośnikiem kawy, to trafiłeś we właściwe miejsce. Nasze ziarna kawy są palone z pasją, aby zapewnić Ci niezapomniane doznania smakowe i aromatyczne.

    Co sprawia, że nasza kawa jest wyjątkowa? To nie tylko jakość ziaren, ale także proces palenia, który odbywa się z niezwykłą dbałością o każdy szczegół. Nasz zespół z ogromnym zaangażowaniem nadzoruje ten proces, aby zapewnić Ci kawę o doskonałym smaku i intensywnym aromacie.
    
    Czy kiedykolwiek zastanawiałeś się, jak kawa może być jednocześnie pobudzająca i relaksująca? Nasze specjalnie wyselekcjonowane ziarna kawy zapewniają ten właśnie efekt. Każdy łyk naszej kawy to podróż do krainy intensywnych aromatów i delikatnych nut smakowych.
    
    Jeśli pragniesz odkryć prawdziwy smak kawy, to zapraszamy do zakupu naszych ziaren. Niech Twoja kawa będzie nie tylko napojem, ale również źródłem niezapomnianych chwil relaksu i przyjemności. Daj się ponieść aromatowi i pasji, która tkwi w każdym ziarnie naszej kawy!
    
    Zapraszamy do zakupów i dołącz do naszej kawowej rodziny, gdzie pasja spotyka smak!
 
    <a target="_blank" href="tryit.asp?filename=trycss_text">"Try it Yourself"</a> link.</p>
   
  </div>


<img class="cup"  src="assets/cup.png">
 
 -->
 
 <!--
      <img class="coffebackground"  src="assets/backgrund.png">
 

<div class="separator"></div>
 

  
       <div class="separator"></div>
  -->
 
  <img class="cup"  src="assets/cup.png">

</head>
<body>
  
</body>
</html>