
.logoimg {

	
		width: 60px; 
		height: auto; 
		margin-right: 40px;
	
	
}

.cup {

	width: 100%; 
	height: auto; 
	margin-right: 40px;
	border: 2px solid rgba(255, 255, 255, 0.479);
	
}

.background {

	width: 100%; 
	height: auto; 
	margin-right: 40px;
	z-index: -1;
}

div {
	
	padding: 8px;
  }
  
  h1 {
	text-align: center;
	text-transform: capitalize;
	color: #5c3a32;
	letter-spacing: 1px;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
  }
  
.flex-background{
	
	text-indent: 50px;
	text-align: "Trirong", serif;
	letter-spacing: 1px;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	text-shadow: #000000;
	color: #fffefe;
	text-shadow: 2px 2px 5px rgb(8, 8, 8);
	border: 2px solid rgba(255, 255, 255, 0.479);
	

}
.background-img{
	position: absolute;
	width:  100%; 
	height: 900px;
	left: 0px;
	z-index: -1;
}
#menu {
	background: #FFFFFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-variant: small-caps;
    align-items: center;
    justify-content: space-between;

}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	text-transform: capitalize;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #9C0000;
	background: #FFFFFF;
    font-weight: bold;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #000000;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #f1f1f1;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #a12929;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #FFFFFF;
	color: #49524F;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#525252;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#000000}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: normal;
	align-content: normal;
  }
  
  .flex-items:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }


.separator {
    border-top: 2px solid #fdf7f700; /* Grubość, rodzaj i kolor linii */
    margin: 20px 0; /* Odstęp od góry i dołu */
}




a {
	text-decoration: none;
	color: #008CBA;
  }

  .flex-add {
	background-color: rgba(230, 46, 0, 0.575);
	background-image: linear-gradient(90deg, rgba(117, 40, 26, 0.349) 60%, rgba(196, 193, 193, 0.349) 0%);
	width: 100%;
	height: 230px;
	border: 2px solid rgb(255, 255, 255);
	padding: 50px;
	
  }


  .flex {
	background-color: rgba(17, 218, 134, 0.295);
	
	width: 520px;
	height: 900px;
	
	padding: 50px;
	margin: 20px;
  }



  .wyp {

	width: 650px; 
	height: auto; 
	margin-right: auto;
}
  
.fifty {

	width: 350px; 
	height: auto; 
	margin-right: 40px;
}

.table{
	#customers {
		font-family: Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	  }
	  
	  #customers td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
		height: 230px;
	  }
	  
	  #customers tr:nth-child(even){background-color: #f2f2f2;}
	  
	  #customers tr:hover {background-color: #ddd;}
	  
	  #customers th:hover {background-color: #ec4f44;}
	  #customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		height: 230px;
		text-align: left;
		background-color: #878f8c;
		color: white;
	}		
}

.table1{
	#customers {
		font-family: Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	  }
	  
	  #customers td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
		height: 230px;
	  }
	  
	  #customers tr:nth-child(even){background-color: #979595;}
	  
	  #customers tr:hover {background-color: #ddd;}
	  
	  #customers th:hover {background-color: #33eb8f;}
	  #customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		height: 230px;
		text-align: left;
		background-color: #585c5a;
		color: white;
	}		
}

.box-model
	{
		background-color: lightgrey;
		width: 300px;
		border: 3px solid rgb(92, 0, 128);
		padding: 50px;
		margin: 20px;
	  }


.table2{
	#customers {
		font-family: Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	  }
	  
	  #customers td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
		height: 230px;
	  }
	  
	  #customers tr:nth-child(even){background-color: #f2f2f2;}
	  
	  #customers tr:hover {background-color: #ddd;}
	  
	  #customers th:hover {background-color: #39a8f1;}
	  #customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		height: 230px;
		text-align: left;
		background-color: #878f8c;
		color: white;
	}		
}
